@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

// COLORS 
$color-dark-primary: #090b13;
$bg-color-dark: #040714;
$border-color-light: rgba(249, 249, 249, .8);
$border-color-dark: rgba(249, 249, 249, .1);
$box-shadow-primary:   rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.8) 0px 15px 12px;
$page-min-height: calc(100vh - 70px);

// BASE STYLING
* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --dark: #333;
}

html {
    box-sizing: border-box;
    font-size: 70%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bg-color-dark;
    overflow-x: hidden;
}

*::after,
*::before {
    box-sizing: inherit;
}