.home {
    min-height: $page-min-height;
    color: var(--white);
    position: relative;
    padding: 0 2.8rem;

    &::before {
        background: url("../assets/images/home-background.png") no-repeat center center / cover fixed;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: "";
    }
}  